.cache
.ruff_cache
.venv
.vscode
build

keypairs

.ruff_cache


# Ignore Python bytecode
**/__pycache__/
*.py[cod]

#Ignore yocto resources
# Build directory
resources/poky/poky-cache
resources/poky/poky-recipes/**/cache

**/conf/conf-notes.txt
**/conf/conf-summary.txt
**/conf/templateconf.cfg


*.log
*.lock
*.sock
*.wic
*.iso
*.img
*.vmlinuz
*.cpio.gz


