[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:ajdariarian94/vcpkg.git

[submodule "aember-cli"]
	path = aember-cli
	url = git@github.com:ajdariarian94/aember-cli.git

[submodule "yocto/poky"]
	path = yocto/poky
	url = git@github.com:ajdariarian94/poky.git
	branch = master