.cache
.ruff_cache
.venv
build

keypairs

.ruff_cache

# Ignore Python bytecode
**/__pycache__/
*.py[cod]

#Ignore yocto resources
# Build directory
**/yocto/resources/**
**/yocto/build/**

**/aember-image/recipes-core/aember/files/aember

**/conf/bblayers.conf
**/conf/conf-notes.txt
**/conf/conf-summary.txt
**/conf/local.conf
**/conf/templateconf.cfg

*.env

*.log
*.lock
*.sock
*.wic
*.iso
*.img
*.vmlinuz
*.cpio.gz

doc/generated