CONFIG_ARM=y
CONFIG_LFS=y
CONFIG_AEABI=y
CONFIG_ARM_THUMB=y
# CONFIG_TC is not set
# CONFIG_IFCONFIG is not set
# CONFIG_ROUTE is not set
# CONFIG_NSENTER is not set
# CONFIG_UNSHARE is not set
# CONFIG_SHA1_HWACCEL is not set
# CONFIG_SHA256_HWACCEL is not set